doctype html
html(lang='en')
  head
    title การลา
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/profile.css')
  body
    header
      h4(align='center') กรณีศึกษาการพัฒนาระบบการลาออนไลน์ 
    section
      nav
        ul
          li
            a(href='#') ข้อมูลส่วนตัว
          hr
          li
            a(href='/leave') การลา
          hr
          li
            a(href='#') ข้อมูลการลา
          hr
          li
            a(href='/') ออกจากระบบ
          hr
          li
            a(href='/about') About
          hr
      article
        h1 ผู้จัดทำ
        table
          tr
          td
            th นางสาวปิยธิดา แพงหอม
          tr
          td
            th นางสาวพรศิริ หอมเนียม
          tr
          td
            th นางสาวอุไรพร ขีโรท
          tr
          td
            th ภาควิชาครุศาสตร์วิศวกรรม แขนงคอมพิวเตอร์ คณะครุศาสตร์อุตสาหกรรมและเทคโนโลยี สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
    footer
      p ลิขสิทธิ์ : คณะครุศาสตร์อุตสาหกรรม สาขาวิชาครุศาสตร์วิศวกรรม