extends layout

block content
  link(rel='stylesheet', href='/stylesheets/ab.css')
  form(action='/absence', method='post')
  h1 แบบใบลาอุปสมบท
  div(class='profile')
    table(align="center")
    for item in data
      tr 
      td 
      td 
      td เขียนที่

      tr 
      td 
      td 
      td #{item.firstname}
        
      tr 
      td 
      td 
      td วันที่
        
      tr 
      td 
      td 
      td 
        input(type="date" name="date")

      tr 
      td เรื่อง ขอลาอุปสมบท
      td 
      td 
      
      tr 
      td คำขั้นต้น
      td 
      td 

      tr 
      td 
        input(type="text", name="title")
      td 
      td 

      tr 
      td ข้าพเจ้า
      td ตำแหน่ง
      td ระดับ


      tr 
      td 
        input(type="box" name="firstname")
        input(type="box" name="lastname")
      td 
        input(type="text")
      td 
        input(type="text")

      tr 
      td สังกัด
      td เกิดเมื่อวันที่
      td เข้ารับราชการวันที่

      tr 
      td 
        input(type="text")
      td 
        input(type="text")
      td 
        input(type="text")
      
      tr
        input(type="submit", value="send")

      
