
extends layout

block content
  form(action='/absence', method='post')
    
    div(class='absence')
      h2 แบบใบลาอุปสมบท 
      br
      td เขียนที่    
      input(type="text", name="write" placeholder="เขียนที่" ) 
      br
      td วันที่  
      input(type="date", name="date1")
      br
      td เรื่อง  ขอลาอุปสมบท
      br
      td (คำขึ้นต้น)
      input(type="text", name="title" placeholder="นาย / นาง / นางสาว")
      br
      td ข้าพเจ้า
      input(type="text", name="firstname" placeholder="ชื่อ")
      input(type="text", name="lastname" placeholder="นามสกุล")
      br
      input(type="email", name="email" placeholder="your e-mail")
      br
      input(type='submit', value='Register')
