doctype html
html(lang='en')
  head
    title การลา
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/profile.css')
  body
    header
      h4(align='center') กรณีศึกษาการพัฒนาระบบการลาออนไลน์ 
    section
      nav
        ul
          li
            a(href='profile') ข้อมูลส่วนตัว
          hr
          li
            a(href='/leave') การลา
          hr
          li
            a(href='showdata') ข้อมูลการลา
          hr
          li
            a(href='/') ออกจากระบบ
          hr
          li
            a(href='/about') About
          hr
      article
        h1 ประเภทการลา
        table
          tr
          td
            a(href='/holiday') ใบลาพักผ่อน
          tr
          td
            a(href='/wife') ใบลาไปช่วยเหลือภริยาที่คลอดบุตร
          tr
          td
            a(href='/love') ใบลาติดตามคู่สมรส
          tr
          td
            a(href='/absence') ใบขอลาอุปสมบท
          tr
          td
            a(href='/hud') ใบลาไปประกอบพิธีฮัจย์ ณ เมืองเมกกะ ประเทศซาอุดิอาระเบีย
          tr
          td
            a(href='/learn') ใบลาไปศึกษา ฝึกอบรม ปฏิบัติการวิจัย หรือดูงาน

    footer
      p สงวนสิทธิ์ใช้เฉพาะ คณะครุศาสตร์อุตสาหกรรมและเทคโนโลยี สาขาวิชาครุศาสตร์วิศวกรรม แขนงวิชาวศวกรรมคอมพิวเตอร์