doctype html
html(lang='en')
  head
    title การลา
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/profile.css')
  body
    header
      h4(align='center') กรณีศึกษาการพัฒนาระบบการลาออนไลน์ 
    section
      nav
        ul
          li
            a(href='#') ข้อมูลส่วนตัว
          hr
          li
            a(href='/leave') การลา
          hr
          li
            a(href='#') ข้อมูลการลา
          hr
          li
            a(href='/') ออกจากระบบ
          hr
          li
            a(href='/about') About
          hr
      article
        h1 ข้อมูลส่วนตัว
        table
          tr
          td
            a(href='/absence') ขอลาอุปสมบท
          tr
          td
            a(href='/wife') ลาไปช่วยเหลือภริยาที่คลอดบุตร
          tr
          td
            a(href='/holiday') ลาพักผ่อน
          tr
          td
            a(href='/love') ลาติดตามคู่สมรส
    footer
      p ลิขสิทธิ์ : คณะครุศาสตร์อุตสาหกรรม สาขาวิชาครุศาสตร์วิศวกรรม