extends layout

block content

  form(action='/', method='post')

    div(class='log')
      img(src="images/username.png", width="100")
      h2 Login เข้าสู่ระบบ    
      input(type="username" name="username" placeholder="username")
      <br> 
      input(type="password" name="password" placeholder="password")
      <br>
      input(type='submit', value='Sign in')