doctype html
html(lang='en')
  head
    title Profile
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/profile.css')
  body
    header
      h4 Profile
    section
      nav
        ul
          li
            a(href='#') ข้อมูลส่วนตัว
          li
            a(href='#') การลา
          li
            a(href='#') ข้อมูลการลา
          li
            a(href='/') ออกจากระบบ
      article
        h1 ข้อมูลส่วนตัว
    footer
      p Footer
