doctype html
html(lang='en')
  head
    title การลา
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/profile.css')
  body
    header
      h4(align='center') กรณีศึกษาการพัฒนาระบบการลาออนไลน์ 
    section
      nav
        ul
          li
            a(href='profile') ข้อมูลส่วนตัว
          hr
          li
            a(href='/leave') การลา
          hr
          li
            a(href='showdata') ข้อมูลการลา
          hr
          li
            a(href='/') ออกจากระบบ
          hr
          li
            a(href='/about') About
          hr
      article
        h1 ข้อมูลการลา
        table
          tr
          td
            a(href='/showholiday') ข้อมูลการลาพักผ่อน
          tr
          td
            a(href='/showwife') ข้อมูลการลาไปช่วยเหลือภริยาที่คลอดบุตร
          tr
          td
            a(href='/showlove') ข้อมูลการลาติดตามคู่สมรส
          tr
          td
            a(href='/showab1') ข้อมูลการขอลาอุปสมบท
          tr
          td
            a(href='/showhud') ข้อมูลการลาไปประกอบพิธีฮัจย์ ณ เมืองเมกกะ ประเทศซาอุดิอาระเบีย
          tr
          td
            a(href='/showlearn') ข้อมูลการลาไปศึกษา ฝึกอบรม ปฏิบัติการวิจัย หรือดูงาน
    footer
      p ลิขสิทธิ์ : คณะครุศาสตร์อุตสาหกรรม สาขาวิชาครุศาสตร์วิศวกรรม