extends layout

block content
  link(rel='stylesheet', href='/stylesheets/users.css')
  form(action='/users', method='post')
  h8= title
    br
    div(class='user')
      h1= title
      
      label ชื่อผู้ใช้ 
      input(type="username" name="username" placeholder="username")
      <br>
      label รหัสผ่าน 
      input(type="password" name="password" placeholder="password")
      <br>
      input(type='submit', value='submit')
