body {
    background-color: lightpink;
    font-size: 20ยป;
    font-family: "Times New Roman", Times, serif;
}
div.profile {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: auto;
    padding: 30px;
    border: 5px solid rgb(255, 157, 217);
    margin: auto;
    height: auto;
    border-radius: 30px;
}
h4 {
    text-align: center;
}

a {
    color: black;
    /*border: 1px solid rgb(232, 240, 118);*/
    font-size: 20px;
    text-align: left;
}
table{
    border: 1px;
    border-color: black;
    width: 100%;
    text-align: left;
}
input[type=text]{
    width: auto;
    height: 30px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 157, 217);
    border-radius: 4px;
    background-color: #f8f8f8;
    margin-bottom: 10px;
}
input[type=date]{
    width: auto;
    height: 30px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 157, 217);
    border-radius: 4px;
    background-color: #f8f8f8;
    margin-bottom: 10px;
}
input[type=box]{
    width: auto;
    height: 30px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 157, 217);
    border-radius: 4px;
    background-color: #f8f8f8;
    margin-bottom: 10px;
}