body {
    background-color: rgb(172, 166, 166);
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
}

div.absence {
    background-color: rgb(255, 255, 255);
    width: auto;
    padding: 30px;
    border: 5px solid rgb(17, 15, 16);
    margin: auto;
    height: auto;
    /*border-radius: 14px;*/
    padding-top: 30px;
}

h4 {
    text-align: center;
}

a {
    color: black;
    /*border: 1px solid rgb(232, 240, 118);*/
    font-size: 20px;
    /*text-align: left;*/
}
header {
    background-color: #666;
    padding: 1px;

}

table {
    border: 1px;
    border-color: black;
    width: 100%;
    text-align: left;
}

input[type=text] {
    width: 300px;
    height: 30px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(82, 78, 80);
    border-radius: 4px;
    background-color: #f8f8f8;
    margin-bottom: 10px;
}
input[type=number] {
    width: 100px;
    height: 30px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(82, 78, 80);
    border-radius: 4px;
    background-color: #f8f8f8;
    margin-bottom: 10px;
}
input[type=text1] {
    width: 100px;
    height: 30px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(82, 78, 80);
    border-radius: 4px;
    background-color: #f8f8f8;
    margin-bottom: 10px;
}
input[type=date] {
    width: 200px;
    height: 30px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(73, 68, 71);
    border-radius: 4px;
    background-color: #f8f8f8;
    margin-bottom: 10px;
}

input[type=box] {
    width: auto;
    height: auto;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(66, 64, 66);
    border-radius: 4px;
    background-color: #f8f8f8;
    margin-bottom: 10px;
}

input[type=submit] {
    width: auto;
    height: auto;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(66, 64, 66);
    border-radius: 4px;
    background-color: #f8f8f8;
    margin-bottom: 10px;
    text-align: center;
}

input[type=tel] {
    width: auto;
    height: 30px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(66, 64, 66);
    border-radius: 4px;
    background-color: #f8f8f8;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    text-align: center;
}

td.aaa {
    text-align: right;
}