body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: rgb(255, 255, 255); 
    /*border: solid thick rgb(5, 5, 5);*/
    /*border-radius: 1em;*/
    background-image: url(../public/images/bg1.jpg);
}

h1 {
    text-align: center;
}

div.log {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 300px;
    padding: 30px;
    border: 5px solid rgb(255, 157, 217);
    margin: auto;
    height: auto;
    border-radius: 10px;
}
input[type=password]{
    width: 300px;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 157, 217);
    border-radius: 4px;
    background-color: #f8f8f8;
    margin-bottom: 10px;
}
input[type=username]{
    width: 300px;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 157, 217);
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin-bottom: 10px;
}
input[type=submit]{
    border: 2px solid rgb(250, 124, 202);
    border-radius: 4px;
    background-color: rgb(250, 124, 202);
    width: 70px;
    height: 30px;
}
