body {
    background-color: lightgoldenrodyellow;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
}

h4 {
    text-align: center;
}

div.add {
    text-align: center;
    background-color: cornflowerblue;
}